//pixels

$p-16: 16px;
$p-14: 14px;
$p-10: 10px;
$p-5: 5px;
$p-8: 8px;
$p-48: 48px;
$p-18: 18px;


//colors
$gray: #a0abb0;
$dark-gray: #102C38;
$primary-color: #357860;
$bg-gray: #fafbfb;
$bg-edit: #b4b4b4;
$light-gray: #EAF1F3;



